<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Favicons")
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Leader in Home and Commercial Mobility products</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.custom.css" />


</head>
<body>
    <header>
        <!-- NAV BAR -->
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary p-0 d-flex flex-column" id="navBar">


            <!-- TOP NAV-->
            <div class="w-100 bg-primary py-2 d-none d-lg-block" id="topNav">
                <div class="container w-100 d-flex flex-row justify-content-between">

                    <div>
                        <a href="tel: 18007872101" class="mr-3"><i class="fas fa-phone-square-alt mr-1"></i> 1 (+855) 787 2101</a>
                        <a href="mailto: sales@ameriglide.com"><i class="fas fa-mail-bulk mr-1"></i> sales@ameriglide.com</a>
                    </div>
                    <div>
                        <a href="#" class="mr-3"><i class="fas fa-store-alt mr-1"></i> Store Locator</a>
                        <a href="#" class="mr-3"><i class="fas fa-search-dollar mr-1"></i> Best Price Guarantee</a>
                        <a href="#" class="mr-3"><i class="fas fa-credit-card mr-1"></i> Payment</a>
                        <a href="#" class="mr-3"><i class="fas fa-shipping-fast mr-1"></i> Delivery</a>
                        <a href="#" class="mr-3"><i class="fas fa-user-circle mr-1"></i> Dealer Portal</a>
                    </div>
                </div>
            </div>

            <!-- MIDDLE NAV -->
            <div class="container w-100 d-flex flex-row justify-content-between py-lg-2" id=middleNav>
                <a class="col-3 navbar-brand pl-3" href="/">
                    <img src="/images/logos/logo-amg.png" class="logo-mobile" width="180" alt="">
                    <img src="/images/logos/logo-amg-slogan.png" class="logo-desktop d.none .d-lg-block .d-xl-block" width="280" height="auto" alt="">
                </a>
                <form class="col-6 form-inline d-none d-lg-flex" id="navSearch">
                    <input class="form-control mr-sm-2 w-100" type="search" placeholder="Search products, collections, ..." aria-label="Search" />
                    <button class="form-control-right btn btn-danger my-2 my-sm-0 px-3" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <div class="col-3 d-none d-lg-flex flex-column align-items-end px-0">
                    <div class="row mx-0">
                        <a href="#" class="mx-0 phone-menu">1-888-555-5555</a>
                    </div>
                    <div class="cart-menu">
                        <a href="/my-cart" class="md-none d-lg-block"><i class="fas fa-shopping-cart"></i> My Cart</a>
                    </div>

                </div>
                
                <!-- MOBILE NAV -->
                @*<button class="navbar-toggler border-0 py-3 bg-primary rounded-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="container d-flex align-items-center">
                        <span class="font-weight-bold mr-2 text-secondary"> MENU </span>
                        <span><i class="fas fa-bars" style="color:#F9F9F9; font-size:22px;"></i></span>
                    </div>
                </button>*@


            </div>

            <hr class="solid-line w-100 m-0" />


            <!-- BOTTOM NAV -->
            <div class="w-100 bg-danger d-none d-lg-flex justify-content-start" id="botNav">

                <nav class="navbar navbar-expand-lg navbar-light py-0 w-100">
                    <a href="#" class="navbar-brand font-weight-bold d-block d-lg-none">MegaMenu</a>
                    <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbarContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav mx-auto">
                            <!-- Megamenu-->
                            <li class="nav-item dropdown megamenu btn-danger">
                                <a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase px-md-2">All Products <i class="fas fa-caret-down"></i></a>
                                <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                                    <div class="w-100 px-0">
                                        <div class="row bg-white rounded-0 m-0 shadow-sm w-100">
                                            <div class="container">
                                                <div class="p-4">
                                                    <div class="row" id="megaContent">
                                                        <div class="col-lg-3 mb-4">
                                                            <h6 class="font-weight-bold text-uppercase">Stair Lifts</h6>
                                                            <ul class="list-unstyled">
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Straight Stair lift</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Curved  Stair lift</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Outdoor Stair lift</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-3 mb-4">
                                                            <h6 class="font-weight-bold text-uppercase">Vertical Platforms Lifts</h6>
                                                            <ul class="list-unstyled">
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Residential</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Commercial</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Porch Lifts</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Wheelchair Lifts</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-3 mb-4">
                                                            <h6 class="font-weight-bold text-uppercase">Elevators</h6>
                                                            <ul class="list-unstyled">
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">LULA</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Residential</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Commercial</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-3 mb-4">
                                                            <h6 class="font-weight-bold text-uppercase">Dumbwaiters</h6>
                                                            <ul class="list-unstyled">
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Residential</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Commercial</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-3 mb-4">
                                                            <h6 class="font-weight-bold text-uppercase">Inclined Platform Lifts</h6>
                                                            <ul class="list-unstyled">
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Residential</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Commercial</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-3 mb-4">
                                                            <h6 class="font-weight-bold text-uppercase">Lift Chairs</h6>
                                                            <ul class="list-unstyled">
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Two Position</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Three Position</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Infinite Position</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Zero Gravity</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Trendelenburg</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-3 mb-4">
                                                            <h6 class="font-weight-bold text-uppercase">Scooters</h6>
                                                            <ul class="list-unstyled">
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">3-Wheel Scooters</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">4-Wheel Scooters</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Heavy Duty Scooters</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Transportable Scooters</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Indoor</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">Outdoor</a></li>
                                                                <li class="nav-item"><a href="" class="nav-link text-small text-dark pb-0 pl-0">All-Terrain</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase btn-danger px-md-2">Stair Lifts</a></li>
                            <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase btn-danger px-md-2">Vertical Platforms Lifts</a></li>
                            <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase btn-danger px-md-2">Elevators</a></li>
                            <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase btn-danger px-md-2">Dumbwaiters</a></li>
                            <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase btn-danger px-md-2">Lift Chairs</a></li>
                            <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase btn-danger px-md-2">Vechicle Conversions</a></li>
                            <li class="nav-item"><a href="faqs" class="nav-link font-weight-bold text-uppercase btn-danger px-md-2">FAQ</a></li>
                            <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase btn-danger px-md-2">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>

            </div>
        </nav>

    </header>
    <div class="container position-relative">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- FOOTER SECTION -->
    <footer id="footer">

        <!-- SIGN UP -->
        <div class="bg-secondary py-3 mt-3 border border-left-0 border-right-0" id="signUp">
            <div class="container d-lg-flex justify-content-between justify-content-center px-0"  id="footerText">
                <div class="col-sm d-flex row align-items-center justify-content-centerr">
                    <h5 class="mr-3">follow us</h5>
                    <div id="footerIcons">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-twitter-square"></i>
                        <i class="fab fa-instagram-square"></i>
                        <i class="fab fa-youtube-square"></i>
                    </div>
                </div>
                <div class="col-sm d-flex row align-items-center justify-content-center" id="footerImages">
                    <h5 class="mr-3">payment method</h5>
                    <img src="/images/logos/vbyvisa-blu.png" class="img-fluid">
                    <img src="/images/logos/mc_symbol.png" class="img-fluid">
                </div>
                <div class="col-sm d-flex row align-items-center justify-content-center" id="footerImages">
                    <h5 class="mr-3">financing by</h5>
                    <img src="/images/logos/bread-logo.png" />
                </div>
            </div>
            
        </div>

        <div class="row d-md-flex justify-content-center bg-secondary py-4">

            <div class="container row text-md-left">

                <!-- Grid column 2 -->

                <div class="col-md-3 col-lg-3 col-xl-3 mt-3 pb-10 px-0">
                    <h6 class="text-primary mb-3">PRODUCTS</h6>
                    <p>
                        <a href="/new-pp-template.html">stair lifts</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">vertical platform lifts</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">elevators</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">wheelchair vehicles</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">bath lifts</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">dumbwaiters</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">inclined platforms</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">mobility scooters</a>
                    </p>
                </div>


                <!-- Grid column 2 -->

                <div class="col-md-3 col-lg-3 col-xl-3 mt-3 pb-10">
                    <h6 class="text-uppercase mb-3">SERVICES</h6>
                    <p>
                        <a href="/new-pp-template.html">about us</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">testimonials</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">FAQs</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">return policy</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">delivery</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">terms and conditions</a>
                    </p>
                </div>

                <!-- Grid column 3 -->

                <div class="col-md-3 col-lg-3 col-xl-3 mt-3 pb-10">
                    <h6 class="text-uppercase mb-3">CONTACT</h6>
                    <p>
                        <a href="/new-pp-template.html">contact us</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">ag store locator</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">authorized ameriglide contractors</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">pay by check</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">privacy policy</a>
                    </p>
                </div>

                <!-- Grid column 4 -->

                <div class="col-md-3 col-lg-3 col-xl-3 mt-3 pb-10">
                    <h6 class="text-uppercase mb-3">Useful information</h6>
                    <p>
                        <a href="/new-pp-template.html">Site map</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">Covid-19</a>
                    </p>
                    <p>
                        <a href="/new-pp-template.html">BREAD Financing</a>
                    </p>
                </div>
            </div>

        </div>

        
        <div class="container py-4">
            © AMERIGLIDE 2020, All Rights Reserved
        </div>

    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
