@page
@model AmgDotCom_Razer.Pages.contact_usModel
@{
    ViewData["Title"] = "Contact Us";
}

<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title id="site_name">Contact Us | AmeriGlide - Leader in Home and Commercial Mobility products</title>
    <meta name="viewport" content="width=device-width" />
</head>

<body>

    <nav aria-label="breadcrumb">
        <ol class="container breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Contact Us</a></li>
        </ol>
    </nav>

    <div class="container row">
        <div class="col-lg-4">
            <h1>
                How can we help you
            </h1>
            <p>
                At AmeriGlide, we aim to provide our customers with high quality and rapid service. For prompt answers to all your questions, please read our <a href="faq">Frequently Asked Questions (FAQ) </a>or see our sections below. Should you require further information, please contact us.
            </p>
        </div>
        <div class="col-lg-4">
            <h1>
                Toll Free
            </h1>
            <a href="faq">1 (855) 912-6186</a>
            <p>
                Monday - Sunday: 8:30 AM - 7:00 PM (Eastern Time)
            </p>
        </div>
        <div class="col-lg-4">
            <h1>
                Email
            </h1>
            <a href="faq">info@ameriglide.com</a>
        </div>
    </div>

    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">Example multiple select</label>
            <select multiple=multiple class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="form-group row">
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" />
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>

    </form>



</body>

</html>