@page
@model AmgDotCom_Razer.Pages.faqsModel
@{
    ViewData["Title"] = "FAQs";
}

<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title id="site_name">AmeriGlide | Leader in Home and Commercial Mobility products</title>
    <meta name="viewport" content="width=device-width">
</head>

<body>

    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb">
        <ol class="container breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Straight Stairlifts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Horizon Plus</li>
        </ol>
    </nav>

    <div class="d-flex align-items-center bg-primary px-0">
        <div class="col-lg-5 text-white px-5 py-2">
            <h2>
                Popular Questions
            </h2>
            <h4>
                <small>Find answers to the most common questions, as well as information about our services and customer care.</small>
            </h4>
        </div>
        <img src="/images/landing/delivery.jpg" class="col px-0 d-none d-lg-block" />
    </div>

    <!-- ACCORDION !-->
    <div class="my-4" id="accordionInfo">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Bread -->
            <div class="panel panel-default">
                <div class="panel-heading" id="headingOne" role="tab">
                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Does AmeriGlide offer financing?<i class="float-right fas fa-plus"></i></a></h4>
                </div>
                <div class="panel-collapse collapse in show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body p-3">
                        <p>
                            We provide easy and affordable financing through our partner, Bread®
                        </p>
                        <p>
                            Bread allows you an easy and honest way to pay monthly for your purchases. Checking your rate takes only seconds. Transparent pricing, secure online payments, and no prepayment penalties make your purchase worry-free.
                            We offer rates as low as 0% APR*! Get a decision in seconds with no obligation to buy. Checking your rate won't affect your credit score.
                        </p>
                        <p>
                            *The terms are for a loan to finance a purchase. Rates range from 0% to 29.99% APR, resulting in, for example, 6 equal monthly payments of $166.67 at 0% APR, or 36 equal monthly payments of $31.33 to $42.45 at 7.99% to 29.99% APR, per $1,000 borrowed. Your terms may vary and are subject to credit approval.
                            Bread® loans are made by Cross River Bank, a New Jersey Chartered Bank, Member FDIC.
                        </p>
                        <a href="https://www.getbread.com/consumer/how-it-works/" target="_blank" class="text-uppercase font-weight-bold"> Learn more about Bread Here </a>
                    </div>
                </div>
            </div>

            <!-- Low Price -->
            <div class="panel panel-default">
                <div class="panel-heading" id="headingTwo" role="tab">
                    <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What is your Low Price Guarantee?<i class="float-right fa fa-plus"></i></a></h4>
                </div>
                <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body p-3">
                        <p>
                            You never have to wait for a sale because we always price our products as competitively as possible. When you choose to shop with AmerGlide, you can have peace of mind knowing you're getting honest value for your money.
                        </p>
                        <p>
                            We guarantee our everyday competitive prices. If you find a lower every day or advertised price on an identical in-stock item (brand, model, product composition) currently offered at any local competitor's store or website (including shipping, handling and fees, if applicable), we will match their price upon request.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Warranty -->
            <div class="panel panel-default">
                <div class="panel-heading" id="headingThree" role="tab">
                    <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What kind of warranty does AmeriGlide provide?<i class="float-right fa fa-plus"></i></a></h4>
                </div>
                <div class="panel-collapse collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body p-3">
                        <p>
                            Our product come with a comprehensive 12-month warranty. If any component should fail due to faulty manufacture during the first year of ownership, AmeriGlide will send round one of our fully trained service technicians to get your product back to full working order free of charge.
                        </p>
                        <p>
                            AmeriGlide products are manufactured to the world's highest standards and exceed the requirements of most, ensuring safety, reliability and engineering excellence.
                        </p>
                        <p>
                            <a href="contact_us">Why not contact one of our specialist today!</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <h5 class="pt-5 pb-2 text-center">
        Speak to one of our friendly experts, we're just a phone call away!
    </h5>
    <h3 class="pb-5 text-center font-weight-bold">
        Toll-FREE <a href="tel:+18885555555">1-888-555-5555</a>
    </h3>


</body>

</html>
