@page
@model AmgDotCom_Razer.Pages.faqsModel
@{
    ViewData["Title"] = "FAQs";
}

<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title id="site_name">AmeriGlide | Leader in Home and Commercial Mobility products</title>
    <meta name="viewport" content="width=device-width">
</head>

<body>

    <div>
        <img src="/images/banners/faq.jpg" />
    </div>



</body>

</html>
