@page
@model AmgDotCom_Razer.Pages.horizon_stairliftModel
@{
    ViewData["Title"] = "Horizon Stair Lift";
}


<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title id="site_name">AmeriGlide | Leader in Home and Commercial Mobility products</title>
    <meta name="viewport" content="width=device-width">
</head>

<body>

    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb">
        <ol class="container breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Straight Stairlifts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Horizon Plus</li>
        </ol>
    </nav>

    <!-- COLUMN TESTING -->
    <div class="d-flex flex-row justify-content-center w-100">

        <div class="container row flex-column flex-md-row w-100 p-0">
            <!-- LEFT COLUMN -->
            <div class="col-lg-7 m-0 p-0">
                <!-- PRODUCT HEADER -->
                <div class="p-0" id="productInfo">
                    <p class="productHeader"><strong>AmeriGlide</strong> - Horizon Plus - Straight Stair Lift - Power Swivel </p>
                    <span style="font-size: 18px;" class="row mx-0">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <a href="/#headingFour" class="ml-2 productSubHeader"><strong>4.5</strong> (1,290)</a>
                    </span>
                </div>
                <div class="sticky-top py-4">
                    <!-- CAROUSEL -->
                    <div id="carouselExampleIndicators" class="container carousel slide p-0 " data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"><img class="d-block w-100" src="/images/h1.jpg" alt="First slide"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"><img class="d-block w-100" src="/images/h2.jpg" alt="Second slide"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"><img class="d-block w-100" src="/images/h3.jpg" alt="Third slide"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"><img class="d-block w-100" src="/images/h4.jpg" alt="Fourth slide"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="4"><img class="d-block w-100" src="/images/h5.jpg" alt="Fifth slide"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="5"><img class="d-block w-100" src="/images/h6.jpg" alt="Sixth slide"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="/images/h1.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/images/h2.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/images/h3.jpg" alt="Thirdslide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/images/h4.jpg" alt="Fourth slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/images/h5.jpg" alt="Fifth slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/images/h6.jpg" alt="Sixth slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>


            </div>
            <!-- RIGHT COLUMN -->
            <div class="col-lg-5 right-column">

                <!--PRODUCT INFO -->
                <div class="p-0 mb-4" id="productInfo">
                    <span class="priceMatch">
                        <p><i class="fas fa-search-dollar"></i> Price Match Guarantee</p>
                    </span>
                    <p class="price">$1,599.00</p>
                    <div class="d-flex flex-row align-items-center">
                        <div class="sale mr-2">Save $200.00</div>
                        <span>Was $1799.99</span>
                    </div>
                </div>

                <!-- PRODUCT CONFIGURATOR !-->
                <div class="SECTION p-0">
                    <div class="container p-3 bg-light border border-gray" id="productConfig">

                        <!-- SEAT OPTIONS -->
                        <div class="form-group mb-4">
                            <label for="sel1">Seat Options:</label>
                            <a data-toggle="modal" data-target="#exampleModalCenter">
                                <i class="fas fa-question-circle"></i>
                            </a>
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Seat Options</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row d-flex align-items-center mb-3">
                                                <img src="images/ergo.jpg" class="mr-3" />
                                                <span>Ego Standard seat</span>
                                            </div>
                                            <div class="row d-flex align-items-center mb-3">
                                                <img src="images/ergo2.jpg" class="mr-3" />
                                                <span>Ergo Standard Seat - Red</span>
                                            </div>
                                            <div class="row d-flex align-items-center mb-3">
                                                <img src="images/ergo3.jpg" class="mr-3" />
                                                <span>Ergo Plus Seat - Beige</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <select class="form-control" id="sel1">
                                <option>Ergo Standard Seat - Beige</option>
                                <option>Ergo Standard Seat - Red + <strong>$50.00</strong></option>
                                <option>Ergo Plus Seat - Beige + <strong>$75.00</strong></option>
                            </select>
                        </div>
                        <hr class="mt-2 mb-3" />

                        <!-- CONTROL OPTIONS -->
                        <div class="form-group mb-4">
                            <label for="sel1">Control Options:</label>
                            <a tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="We can put the controls on either arm to suit you."><i class="fas fa-question-circle"></i></a>
                            <select class="form-control" id="sel1">
                                <option>Right Side</option>
                                <option>Left Side</option>
                            </select>
                        </div>
                        <hr class="mt-2 mb-3" />

                        <!-- ORIENTATION -->
                        <div class="form-group mb-4">
                            <label for="sel1">Orientation:</label>
                            <a data-toggle="modal" data-target="#orientationModalCenter">
                                <i class="fas fa-question-circle"></i>
                            </a>
                            <div class="modal fade" id="orientationModalCenter" tabindex="-1" role="dialog" aria-labelledby="orientationModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div>
                                                <h5 class="modal-title" id="exampleModalLongTitle">Orientation</h5>
                                                <p class="mb-0">When looking up the staircase from the bottom landing.</p>
                                            </div>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row d-flex align-items-center mb-4">
                                                <div>
                                                    <img src="images/stair-lift.png" class="img-fluid col-sm-1" style="max-width: 40px; padding-right: 0px;" />
                                                    <img src="images/stairs.png" class="img-fluid col-sm-1" style="max-width: 90px; padding-left: 0px;" />
                                                </div>
                                                <span>Stair Lift on the left</span>
                                            </div>
                                            <div class="row d-flex align-items-center">
                                                <div>
                                                    <img src="images/stairs.png" class="img-fluid col-sm-1" style="max-width: 90px; padding-right: 0px;" />
                                                    <img src="images/stair-lift.png" class="img-fluid col-sm-1" style="max-width: 40px; padding-left: 0px;" />
                                                </div>
                                                <span>Stair Lift on the right</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <select class="form-control" id="sel1">
                                <option>Stair Lift on the left</option>
                                <option>Stair Lift on the right</option>
                            </select>
                        </div>
                        <hr class="mt-2 mb-3" />

                        <!-- ADDITIONAL TRACK -->
                        <div class="form-group mb-4">
                            <div class="d-flex flex-column mb-3">
                                <div>
                                    <label for="sel1">Additional Track:</label>
                                    <a tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Custom Rail Extension - A rail joint kit is required for every extra 8 ft. of rail."><i class="fas fa-question-circle"></i></a>
                                </div>
                                <span>Up to 14" of Rail Included</span>
                            </div>
                            <div class="d-flex flex-row align-content-between mb-3">
                                <div class="d-flex flex-column w-75">
                                    <span>Extra Rail Per Foot</span>
                                    <span><strong>+ $50.00</strong></span>
                                </div>
                                <select class="form-control w-25" id="sel1">
                                    <option selected=selected>QTY</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>

                            <div class="d-flex flex-row align-content-between mb-3">
                                <div class="d-flex flex-column w-75">
                                    <span>Rail Joint Kit</span>
                                    <span><strong>+ $43.00</strong></span>
                                </div>
                                <select class="form-control w-25" id="sel1">
                                    <option selected=selected>QTY</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                            <div class="d-flex flex-row align-content-between mb-3">
                                <div class="d-flex flex-column w-75">
                                    <span>Rail Leg</span>
                                    <span><strong>+ $29.00</strong></span>
                                </div>
                                <select class="form-control w-25" id="sel1">
                                    <option selected=selected>QTY</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <hr class="mt-2 mb-3" />

                        <!-- ADDITIONAL OPTIONS -->
                        <div class="form-group mb-4">
                            <label for="sel1">Additional Options:</label>
                            <a data-toggle="modal" data-target="#optionsModalCenter">
                                <i class="fas fa-question-circle"></i>
                            </a>
                            <div class="modal fade" id="optionsModalCenter" tabindex="-1" role="dialog" aria-labelledby="optionsModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div>
                                                <h5 class="modal-title" id="optionsModalCenterLongTitle">Additional Options</h5>
                                            </div>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="d-flex flex-column align-items-center mb-4">
                                                <img src="images/bracket-extension.jpg" class="img-fluid col-1 mb-3" style="max-width: 140px; padding-right: 20px;" />
                                                <span>BRACKET EXTENSIONS - 3 pairs of extensions (with mounting hardware) for the standard Stair Lift Mounting Bracket. Dimensions are approximately: 5-3/4" by 1-3/4".</span>
                                            </div>
                                            <hr class="mt-2 mb-3" />
                                            <div class="d-flex flex-column align-items-center mb-4">
                                                <img src="images/videos/retractable-rail.gif" class="img-fluid col-1 mb-3" style="max-width: 80%; padding-right: 20px;" />
                                                <span>POWER HINGED RAIL - Total rail length must be 88.5" or 117" and longer.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-content-between mb-3">
                                <div class="d-flex flex-column w-75">
                                    <span>Bracket Extensions Package</span>
                                    <span><strong>+ $51.24</strong></span>
                                </div>
                                <select class="form-control w-25" id="sel1">
                                    <option selected=selected>QTY</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                            <div class="d-flex flex-row align-content-between mb-3">
                                <div class="d-flex flex-column w-75">
                                    <span>Power Hinged Rail</span>
                                    <span><strong>+ $692.03</strong></span>
                                </div>
                                <select class="form-control w-25" id="sel1">
                                    <option selected=selected>QTY</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>
                        </div>
                        <hr class="mt-2 mb-3" />

                        <!-- SELF INSTALLATION -->
                        <div class="form-group mb-3">
                            <label for="sel1">Installation:</label>
                            <a tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="NOTE: We do not perform installations in Oregon. For residents in Oregon, please choose self-installation at checkout."><i class="fas fa-question-circle"></i></a>
                            <select class="form-control" id="sel1">
                                <option>Self-Installation</option>
                                <option>Installation Only + <strong>$575.00</strong></option>
                                <option>Measurement & Installation + <strong>$725.00</strong></option>
                                <option>Measurement Service + <strong>$150.00</strong></option>
                                <option>2+ Stair Lift Installation + <strong>$720.59</strong></option>
                                <option>Permit & Inspection + <strong>$288.24</strong></option>
                            </select>
                        </div>

                    </div>
                </div>
                <button type="button" class="btn btn-success w-100 rounded-0 my-4 py-3" data-toggle="modal" data-target="#modalDiscount" id="atcbtn">
                    <i class="fas fa-shopping-cart"></i> ADD TO CART - $1,599.00
                </button>

                <!--Modal: modalDiscount-->
                <div class="modal fade right" id="modalDiscount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true" data-backdrop="true">
                    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-danger" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Header-->
                            <div class="modal-header">
                                <p class="heading">
                                    This item has been added to your cart.
                                </p>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                </button>
                            </div>

                            <!--Body-->
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-3">
                                        <p></p>
                                        <p class="text-center">
                                            <i class="fas fa-gift fa-4x"></i>
                                        </p>
                                    </div>

                                    <div class="col-9">
                                        <p>
                                            Sharing is caring. Therefore, from time to time we like to give our visitors small gifts. Today is
                                            one of those days.
                                        </p>
                                        <p>
                                            <strong>
                                                Copy the following code and use it at the checkout. It's valid for
                                                <u>one day</u>.
                                            </strong>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!--Footer-->
                            <div class="modal-footer flex-center">
                                <a href="https://mdbootstrap.com/products/jquery-ui-kit/" class="btn btn-warning w-100">
                                    View Cart
                                </a>
                            </div>
                        </div>
                        <!--/.Content-->
                    </div>
                </div>
                <!--Modal: modalDiscount-->


            </div>
        </div>
    </div>
    </div>


    <!-- Desktop Sections -->

    <section>
        <div class="container p-2" id="productStandard">
            <h2 class="mb-3">Standard Features</h2>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">Power Swivel Seat<i class="fas fa-check"></i></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Wireless Infra-red Call/Send Remote (2)<i class="fas fa-check"></i></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Retractable Reel Seat Belt<i class="fas fa-check"></i></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Digital Diagnostic Display<i class="fas fa-check"></i></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Key Lock<i class="fas fa-check"></i></li>
            </ul>
        </div>
    </section>

    <div class="d-none d-lg-block mb-4">
        <div class="container d-flex flex-column align-items-center">
            <h2>Design and innovation meet unbeatable value</h2>
            <span class="container">
                <p>
                    The AmeriGlide Horizon Plus Stair Lift is top of the line and represents the pinnacle of stylish design and innovation. Not only is it an unbeatable value, it also comes equipped with a long list of standard features that aren't available on any other lift. The Horizon Plus Stair Lift was clearly designed with a focus on user needs.
                </p>
            </span>
            <img src="/images/horizon-standard.jpg" class="img-fluid w-25">
        </div>
    </div>

    <div class="d-none d-lg-block mb-4">
        <div class="container d-flex flex-column align-items-center">
            <h2>More comfortable, more reliable, and more energy-efficient</h2>
            <span class="container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nulla ut magna interdum eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus nisl tempus, eleifend ipsum ac, cursus eros. Integer bibendum sapien at odio placerat maximus. Ut ac dui ac mauris dignissim gravida tincidunt eget nisi. Vestibulum at nisi nibh. In congue turpis ac imperdiet molestie. Suspendisse tincidunt eget leo aliquet semper. Ut at auctor nibh. Duis luctus velit sapien. Etiam in sapien mauris.
                </p>
            </span>
            <img src="/images/horizon-standard.jpg" class="img-fluid w-25">
        </div>
    </div>


    <!-- ACCORDION !-->
    <div class="container p-2" id="accordionInfo">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- OVERVIEW -->
            <div class="panel panel-default">
                <div class="panel-heading" id="headingOne" role="tab">
                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">OVERVIEW<i class="float-right fas fa-plus"></i></a></h4>
                </div>
                <div class="panel-collapse collapse in show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body p-3">
                        <p>The AmeriGlide Horizon Plus Stair Lift is top of the line and represents the pinnacle of stylish design and innovation. Not only is it an unbeatable value, it also comes equipped with a long list of standard features that aren't available on any other lift. The Horizon Plus Stair Lift was clearly designed with a focus on user needs.</p>
                        <ul class="list-style-disc">
                            <li><strong>Digital Diagnostic Display</strong> built into the armrest, to check all the information and diagnostics about you stair lift in real time.</li>
                            <li><strong>Independent Lever Footrest Raiser</strong> to open and close the footrest easily when you need it without having to bend down. Also allows easy transfer for wheelchair users.</li>
                            <li><strong>Ergonomic Joystick</strong> can be used as a button or lever to make the stair lift easy to operate in a natural and comfortable position even with limited mobility.</li>
                            <li><strong>Security Key Switch </strong> under the armrest, to prevent unauthorized use of your stair lift.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- SPECIFICATIONS -->
            <div class="panel panel-default">
                <div class="panel-heading" id="headingTwo" role="tab">
                    <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">SPECIFICATIONS<i class="float-right fa fa-plus"></i></a></h4>
                </div>
                <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body p-3">
                        <h7><strong>Dimensions</strong></h7>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-light">Assembled Depth (in inches)</li>
                            <li class="list-group-item">99999.99</li>
                            <li class="list-group-item bg-light">Assembled Height (in inches)</li>
                            <li class="list-group-item">99999.99</li>
                            <li class="list-group-item bg-light">Assembled Weight (in lbs)</li>
                            <li class="list-group-item">99999.99</li>
                            <li class="list-group-item bg-light">Assembled Width (in inches)</li>
                            <li class="list-group-item">99999.99</li>
                            <li class="list-group-item bg-light">Packaged Depth (in inches))</li>
                            <li class="list-group-item">99999.99</li>
                            <li class="list-group-item bg-light">Packaged Height (in inches)</li>
                            <li class="list-group-item">99999.99</li>
                            <li class="list-group-item bg-light">Packaged Weight (In lbs)</li>
                            <li class="list-group-item">99999.99</li>
                            <li class="list-group-item bg-light">Packaged Width (in inches)</li>
                            <li class="list-group-item">99999.99</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- DOCUMENTATION -->
            <div class="panel panel-default">
                <div class="panel-heading" id="headingThree" role="tab">
                    <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">DOCUMENTATION<i class="float-right fa fa-plus"></i></a></h4>
                </div>
                <div class="panel-collapse collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body p-3">
                        <a href="https://www.ameriglide.com/cache/1566319479190/resources/product/1972/productDocument/1351.pdf" class="btn btn-outline-primary w-100 mb-3" target="_blank">
                            Brochure
                        </a>
                        <a href="https://www.ameriglide.com/cache/1563894479634/resources/product/1972/productDocument/1352.pdf" class="btn btn-outline-primary w-100 mb-3" target="_blank">
                            Technical Specs
                        </a>
                        <a href="https://www.ameriglide.com/cache/1563894479794/resources/product/1972/productDocument/1353.pdf" class="btn btn-outline-primary w-100 mb-3" target="_blank">
                            Measurement Guide
                        </a>
                        <a href="https://www.ameriglide.com/cache/1563894479964/resources/product/1972/productDocument/1354.pdf" class="btn btn-outline-primary w-100 mb-3" target="_blank">
                            Installation Guide
                        </a>
                        <a href="https://www.ameriglide.com/cache/1563894480124/resources/product/1972/productDocument/1355.pdf" class="btn btn-outline-primary w-100 mb-3" target="_blank">
                            Return Policy
                        </a>
                        <a href="https://www.ameriglide.com/cache/1563894480644/resources/product/1972/productDocument/1356.pdf" class="btn btn-outline-primary w-100 mb-3" target="_blank">
                            Warranty Registration
                        </a>
                        <a href="https://www.ameriglide.com/join/" class="btn btn-outline-primary w-100 mb-3" target="_blank">
                            Dealer Pricing
                        </a>
                    </div>
                </div>
            </div>

            <!-- CUSTOMER REVIEWS -->
            <div class="panel panel-default">
                <div class="panel-heading" id="headingFour" role="tab">
                    <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">CUSTOMER REVIEWS<i class="float-right fa fa-plus"></i></a></h4>
                </div>
                <div class="panel-collapse collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body p-3">
                        <h4 class="mb-3">Ratings and Reviews</h4>
                        <div class="d-flex flex-row align-items-end">
                            <h3 class="mb-3 mr-2">4.5</h3>
                            <p class="mb-3">out of 5</p>
                            <p class="ml-2 align-items-end">(1,290)</p>
                        </div>
                        <hr class="mt-2 mb-3" />

                        <!-- REVIEW ENTRY -->
                        <div class="p-2 mb-3" id="reviews">
                            <span style="font-size: 18px;" class="row mx-0 mt-3 mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </span>
                            <p class="mb-3 font-weight-bold">Review Header</p>
                            <span class="d-flex flex-row align-items-center">
                                <i class="fas fa-badge-check theme-amg"></i><p class="mb-0 ml-2 font-weight-bolder">Verified Buyer</p>
                            </span>
                            <div class="d-flex flex-row mb-2 text-muted">
                                <p class="mr-2 mb-0">Robert J.</p>
                                <p class="mb-0">June 6, 2020</p>
                            </div>
                            <div class="">
                                <p class="mr-3">AmeriGlide worked with our unusual situation to provide us with a solution which is effective, affordable, and very satisfying. The installer did an outstanding job.</p>
                                <span class="d-flex flex-row align-content-center">
                                    <i class="fal fa-thumbs-up"></i><p class="ml-2 mb-0"><strong>Yes</strong>, I would reccomend this to a friend.</p>
                                </span>
                            </div>
                        </div>
                        <hr class="mt-2 mb-3" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BOTTOM FIXED -->
    @*<div class="fixed-bottom position-fixed bg-white d-flex flex-center flex-row px-2 py-3 border-gray w-100" id="bottomfixed">
            <a type="button" class="btn btn-outline-primary w-50 mr-1 py-2" href="/new-pp-template.html">CONTACT US</a>
            <a type="button" class="btn btn-primary w-50 ml-1 py-2" href="/new-pp-template.html">ADD TO CART</a>
        </div>*@

</body>

</html>
