@page
@model IndexModel
@{
    ViewData["Title"] = "AmeriGlide";
}


<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title id="site_name">AmeriGlide | Leader in Home and Commercial Mobility products</title>
    <meta name="viewport" content="width=device-width">
</head>

<body>

    @*<div class="container p-2">
            <div class="d-md-flex flex-row w-100 justify-content-center py-2 border-bottom" id="landingInfo">
                <div class="col-md-4 text-uppercase text-center">
                    <i class="fas fa-check-square mr-3 align-middle"></i>Curbside Pickup Available
                </div>
                <div class="col-md-4 text-uppercase text-center">
                    <i class="fas fa-check-square mr-3 align-middle"></i>Price Match Guarantee
                </div>
                <div class="col-md-4 text-uppercase text-center">
                    <i class="fas fa-check-square mr-3 align-middle"></i>Our Covid-19 Response
                </div>
            </div>
        </div>*@

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="horizon_stairlift" class="d-none d-md-block"><img src="/images/landing/sl3.jpg" alt="sl" class="img-fluid w-100" /></a>
                <a href="horizon_stairlift" class="d-md-none"><img src="/images/products/stair-lifts/sl3m.png" alt="sl" class="img-fluid w-100" /></a>
            </div>
            <div class="carousel-item">
                <a href="#" class="d-none d-md-block"><img src="/images/products/wav/wav2.jpg" alt="sl" class="img-fluid w-100" /></a>
                <a href="#" class="d-md-none"><img src="/images/products/wav/wavm.png" alt="sl" class="img-fluid w-100" /></a>
            </div>
            <div class="carousel-item">
                <a href="#" class="d-none d-md-block"><img src="/images/landing/vpl.jpg" alt="vpl" class="img-fluid w-100" /></a>
                <a href="#" class="d-md-none"><img src="/images/products/vpl/vpl2.jpg" alt="sl" class="img-fluid w-100" /></a>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <div class="container my-4" id="values">
        <div class="row">
            <a href="#" class="col-md-4 d-none d-md-block py-3">
                <i class="fas fa-box-open mr-2"></i>
                Quick Ship
            </a>
            <a href="#" class="col-md-4 py-3">
                <i class="fas fa-usd-circle mr-2"></i>
                Low Price Guarantee
            </a>
            <a href="#" class="col-md-4 d-none d-md-block py-3">
                <i class="fas fa-globe-americas mr-2"></i>
                Nationwide Coverage
            </a>
        </div>
    </div>

    <div class="container-fluid p-0 my-4">
        <div class="d-flex align-items-center  class="mb-3"">
            <h2>
                Shop by product
            </h2>
            <a href="#" class="ml-3"> Shop all products<i class="fas fa-long-arrow-right"></i></a>

        </div>
        
        <div class="d-flex flex-wrap">
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/elevators/stairlift.png" class="img-fluid mx-auto mb-3" />
                    <h5 class="text-center">
                        Stair Lifts
                    </h5>
                </a>
            </div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/elevators/vpl.png" class="img-fluid mx-auto mb-3" />
                    <h5 class="text-center">
                        Vertical Platform Lifts
                    </h5>
                </a>
            </div>
            <div class="d-md-none w-100"></div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/elevators/res-elevator.png" class="img-fluid mx-auto mb-3" />
                    <h5 class="text-center">
                        Residential Elevators
                    </h5>
                </a>
            </div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/elevators/lula.png" class="img-fluid mx-auto mb-3" />
                    <h5 class="text-center">
                        Commercial Elevators
                    </h5>
                </a>
            </div>
            <div class="d-xxl-none w-100"></div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/dw/dw.png" class="img-fluid mx-auto mb-3" />
                    <h5 class="text-center">
                        Dumbwaiters
                    </h5>
                </a>
            </div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/lift-chair/liftchair.png" class="img-fluid mx-auto mb-3" />
                    <h5 class="text-center">
                        Lift Chairs
                    </h5>
                </a>
            </div>
            <div class="d-md-none w-100"></div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/wav/wav.png" class="img-fluid mx-auto mb-3" />
                    <h5 class="text-center">
                        Vehicle Conversions
                    </h5>
                </a>
            </div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/mobility-scooters/ms.png" class="img-fluid mx-auto mb-3" />
                    <h5 class="text-center">
                        Mobility Scooters
                    </h5>
                </a>
            </div>
        </div>
    </div>

    <div>
        <div>
            
        </div>
    </div>

    <div class="d-flex row">
        <a href="#" class="col-lg mb-4">
            <img src="/images/landing/shop-all.jpg" class="img-fluid" />
        </a>

        <a href="#" class="col-lg mb-4">
            <img src="/images/landing/wheelchair-all.jpg" class="img-fluid" />
        </a>

    </div>

    <div class="container-fluid mt-3 p-0 my-4 border-top">
        <h2 class="my-4">
            Trending Searches
        </h2>
        <div class="row">
            <div class="col-lg-3 w-100" id="gridLanding">
                <a href="/horizon_stairlift" class="btn btn-outline-primary py-2 mb-3 text-uppercase w-100 rounded-pill">Horizon Stair Lift</a>
            </div>
            <div class="col-lg-4 w-100" id="gridLanding">
                <a href="#" class="btn btn-outline-primary py-2 mb-3 text-uppercase w-100 rounded-pill">Elite Residential Elevator</a>
            </div>
            <div class="col-lg w-100" id="gridLanding">
                <a href="#" class="btn btn-outline-primary py-2 mb-3 text-uppercase w-100 rounded-pill">Rave Stair Lift</a>
            </div>
            <div class="col-lg w-100" id="gridLanding">
                <a href="#" class="btn btn-outline-primary py-2 mb-3 text-uppercase w-100 rounded-pill">Dumbwaiters</a>
            </div>
            <div class="w-100"></div>
            <div class="col-lg w-100" id="gridLanding">
                <a href="#" class="btn btn-outline-primary py-2 mb-3 text-uppercase w-100 rounded-pill">Lift Chairs</a>
            </div>
            <div class="col-lg w-100" id="gridLanding">
                <a href="#" class="btn btn-outline-primary py-2 mb-3 text-uppercase w-100 rounded-pill">LULA Elevator</a>
            </div>
            <div class="col-lg w-100" id="gridLanding">
                <a href="#" class="btn btn-outline-primary py-2 mb-3 text-uppercase w-100 rounded-pill">Lift Chairs</a>
            </div>
        </div>
    </div>

    <div>
        <div>
            <label>
                $250 OFF
            </label>
        </div>
    </div>

    <div>
        <div>
            Virtual Consultations
            <span>
                When possible, we are offering virtual consultations with our Accessibility Specialist to allow us to continue to serve our customers while eliminating the need for in-person contact.
            </span>
        </div>       
        <div>
            Contactless Installations
            <span>
                While installation of many of our accessibility solutions requires one or more of our Accessibility Specialists to enter your home, we have a process in place to continue to avoid physical contact.
            </span>
        </div>
    </div>

    <div class="container p-0">
        <a href="/covid" class="col-12 p-0 m-0">
            <img src="/images/landing/covid.jpg" class="d-none d-lg-block w-100 img-fluid" />
            <img src="/images/landing/covid-m.jpg" class="d-lg-none w-100 img-fluid" />
        </a>
    </div>


    <div class="container-fluid p-0 my-4">
        <h1 class="mb-3">
            Popular Categories
        </h1>
        <div class="row">
            <div class="col-lg mb-4">
                <a href="/horizon_stairlift">
                    <img src="/images/landing/sl-grey.png" class="img-fluid" />

                </a>
            </div>
            <div class="col-lg mb-4">
                <a href="/horizon_stairlift">
                    <img src="/images/landing/vpl-grey.png" class="img-fluid" />

                </a>
            </div>
            <div class="col-lg mb-4">
                <a href="#">
                    <img src="/images/landing/ipl-grey.png" class="img-fluid" />
                </a>
            </div>
            <div class="col-lg mb-4">
                <a href="#">
                    <img src="/images/landing/enclosed-grey.png" class="img-fluid" />
                </a>
            </div>
        </div>
    </div>


    <div class="container">
        <a href="https://www.getbread.com/consumer/how-it-works/" target="_blank">
            <img src="/images/landing/bread.png" class="img-fluid" />
        </a>
    </div>

    <div>
        <div>
            <div>
                <h1>Did You Know About AmeriGlide Low Price Guarantee?</h1>
                <span>Find a better price for the identical item at a local competitor or website, and AmeriGlide will match the price!</span>
            </div>
        </div>
    </div>

</body>

</html>

