@page
@model IndexModel
@{
    ViewData["Title"] = "AmeriGlide";
}


<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title id="site_name">AmeriGlide | Leader in Home and Commercial Mobility products</title>
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <div class="container p-2">
        <div class="d-flex flex-row w-100 justify-content-center py-2 border-bottom" id="landingInfo">
            <div class="col-md-4 text-uppercase text-center">
                <i class="fas fa-check-square mr-3"></i>Curbside Pickup Available
            </div>
            <div class="col-md-4 text-uppercase  text-center">
                <i class="fas fa-check-square mr-3"></i>Price Match Guarantee
            </div>
            <div class="col-md-4 text-uppercase  text-center">
                <i class="fas fa-check-square mr-3"></i>Our Covid-19 Response
            </div>
        </div>
    </div>
    

Landing Page Here

</body>

</html>

