@page
@model AmgDotCom_Razer.Pages.product_gridModel
@{
    ViewData["Title"] = "Products";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb">
        <ol class="container breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Straight Stairlifts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Horizon Plus</li>
        </ol>
    </nav>

    <h1>
        Stair Lifts
    </h1>

    <div>

    </div>

</body>
</html>

