@page
@model AmgDotCom_Razer.Pages.product_gridModel
@{
    ViewData["Title"] = "Products";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb">
        <ol class="container breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Straight Stairlifts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Horizon Plus</li>
        </ol>
    </nav>

    <div class="mb-4">
      
        <img src="/images/videos/watch-now.png" data-toggle="modal" data-target=".bd-example-modal-lg" class="pointer img-fluid" />

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tuRMwEZfz8Q" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="https://www.ameriglide.com/landing/financing/"><img src="/images/bread/bread-learn.png" class="img-fluid" /></a>

    <h1>
        AmeriGlide Stair Lifts
    </h1>

    <div>

    </div>

</body>
</html>

