@page
@model AmgDotCom_Razer.Pages.product_collectionModel
@{
    ViewData["Title"] = "AmeriGlide";
}

<body>

    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb">
        <ol class="container breadcrumb bg-white px-0 mb-1">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">All Products</li>
        </ol>
    </nav>

    <div>
        <div class="row">
                <img src="/images/landing/sl.jpg" class="img-fluid col p-0" />
                <img src="/images/products/all-products.jpg" class="img-fluid col-md-5 p-0" />
        </div>
        <div class="row bg-secondary p-4">
            <div class="container-fluid p-0 my-4">
                <div class="d-flex flex-wrap" id="shopBubble">
                    <div class="col mb-4">
                        <a href="/stairlift-collection" class="text-decoration-none">
                            <img src="/images/products/elevators/stairlift.png" class="img-fluid mx-auto mb-3" />
                            <p class="text-center">
                                <span class="text-center">
                                    Stair Lifts
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="col mb-4">
                        <a href="#" class="text-decoration-none">
                            <img src="/images/products/elevators/vpl.png" class="img-fluid mx-auto mb-3" />
                            <p class="text-center">
                                <span class="text-center">
                                    Vertical Platform Lifts
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="d-md-none w-100"></div>
                    <div class="col mb-4">
                        <a href="#" class="text-decoration-none">
                            <img src="/images/products/elevators/res-elevator.png" class="img-fluid mx-auto mb-3" />
                            <p class="text-center">
                                <span class="text-center">
                                    Residential Elevators
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="col mb-4">
                        <a href="#" class="text-decoration-none">
                            <img src="/images/products/elevators/lula.png" class="img-fluid mx-auto mb-3" />
                            <p class="text-center">
                                <span class="text-center">
                                    Commercial Elevators
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="d-lg-none w-100"></div>
                    <div class="d-md-none w-100"></div>
                    <div class="col mb-4">
                        <a href="#" class="text-decoration-none">
                            <img src="/images/landing/deals-stair-lifts.png" class="img-fluid mx-auto mb-3" />
                            <p class="text-center">
                                <span class="text-center">
                                    Stair Lift Deals
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="col mb-4">
                        <a href="#" class="text-decoration-none">
                            <img src="/images/products/dw/dw.png" class="img-fluid mx-auto mb-3" />
                            <p class="text-center">
                                <span class="text-center">
                                    Dumbwaiters
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="d-none d-lg-block w-100"></div>
                    <div class="d-md-none w-100"></div>
                    <div class="col mb-4">
                        <a href="#" class="text-decoration-none">
                            <img src="/images/products/lift-chair/liftchair.png" class="img-fluid mx-auto mb-3" />
                            <p class="text-center">
                                <span class="text-center">
                                    Lift Chairs
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="col mb-4">
                        <a href="#" class="text-decoration-none">
                            <img src="/images/products/wav/wav.png" class="img-fluid mx-auto mb-3" />
                            <p class="text-center">
                                <span class="text-center">
                                    Vehicle Conversions
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="d-lg-none w-100"></div>
                    <div class="d-md-none w-100"></div>
                    <div class="col mb-4">
                        <a href="#" class="text-decoration-none">
                            <img src="/images/products/mobility-scooters/ms.png" class="img-fluid mx-auto mb-3" />
                            <p class="text-center">
                                <span class="text-center">
                                    Wheelchair Lifts
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="col mb-4">
                        <a href="#" class="text-decoration-none">
                            <img src="/images/products/mobility-scooters/ms.png" class="img-fluid mx-auto mb-3" />
                            <p class="text-center">
                                <span class="text-center">
                                    LULA Elevators
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="d-md-none w-100"></div>
                    <div class="col mb-4">
                        <a href="#" class="text-decoration-none">
                            <img src="/images/products/mobility-scooters/ms.png" class="img-fluid mx-auto mb-3" />
                            <p class="text-center">
                                <span class="text-center">
                                    Inclined Platform Lifts
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="col mb-4">
                        <a href="#" class="text-decoration-none">
                            <img src="/images/products/mobility-scooters/ms.png" class="img-fluid mx-auto mb-3" />
                            <p class="text-center">
                                <span class="text-center">
                                    Mobility Scooters
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>