@page
@model AmgDotCom_Razer.Pages.product_gridModel
@{
    ViewData["Title"] = "Products";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb">
        <ol class="container breadcrumb bg-white px-0 mb-1">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Stair Lifts</li>
        </ol>
    </nav>

    <a href="https://www.ameriglide.com/landing/financing/"><img src="/images/bread/bread-learn.png" class="img-fluid" /></a>

    <div class="py-4">
        <h4>
            AmeriGlide Stair Lifts
        </h4>
        <div id="collectionLine"></div>
    </div>

    <div class="container">
        <div class="row justify-content-md-center" id="collectionItem">
            <a href="/straight-stairlifts" class="col-md-4 text-decoration-none p-3">
                <img src="/images/products/stair-lifts/straight.jpg" class="img-fluid mb-2" />
                <h4>Straight Stair Lifts</h4>
                <p>Prices starting at $1,399.00</p>
            </a>
            <a href="/straight-stairlifts" class="col-md-4 text-decoration-none p-3">
                <img src="/images/products/stair-lifts/curved.jpg" class="img-fluid mb-2" />
                <h4>Curved Stair Lifts</h4>
                <p>Prices starting at $1,399.00</p>
            </a>
            <a href="/straight-stairlifts" class="col-md-4 text-decoration-none p-3">
                <img src="/images/products/stair-lifts/outdoor.jpg" class="img-fluid mb-2" />
                <h4>Outdoor Stair Lifts</h4>
                <p>Prices starting at $1,399.00</p>
            </a>
        </div>
    </div>

    <div class="container-fluid p-0 my-4">
        <div class="d-flex align-items-center mb-3">
            <h2>
                Shop by Models
            </h2>
            <a href="/product_collection" class="ml-3"> Shop all products<i class="fas fa-long-arrow-right ml-2"></i></a>

        </div>

        <div class="d-flex flex-wrap" id="shopBubble">
            <div class="col mb-4">
                <a href="/stairlift-collection" class="text-decoration-none">
                    <img src="/images/products/elevators/stairlift.png" class="img-fluid mx-auto mb-3" />
                    <p class="text-center">
                        <span class="text-center">
                            Stair Lifts
                        </span>
                    </p>
                </a>
            </div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/elevators/vpl.png" class="img-fluid mx-auto mb-3" />
                    <p class="text-center">
                        <span class="text-center">
                            Vertical Platform Lifts
                        </span>
                    </p>
                </a>
            </div>
            <div class="d-md-none w-100"></div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/elevators/res-elevator.png" class="img-fluid mx-auto mb-3" />
                    <p class="text-center">
                        <span class="text-center">
                            Residential Elevators
                        </span>
                    </p>
                </a>
            </div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/elevators/lula.png" class="img-fluid mx-auto mb-3" />
                    <p class="text-center">
                        <span class="text-center">
                            Commercial Elevators
                        </span>
                    </p>
                </a>
            </div>
            <div class="d-lg-none w-100"></div>
            <div class="d-md-none w-100"></div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/landing/deals-stair-lifts.png" class="img-fluid mx-auto mb-3" />
                    <p class="text-center">
                        <span class="text-center">
                            Stair Lift Deals
                        </span>
                    </p>
                </a>
            </div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/dw/dw.png" class="img-fluid mx-auto mb-3" />
                    <p class="text-center">
                        <span class="text-center">
                            Dumbwaiters
                        </span>
                    </p>
                </a>
            </div>
            <div class="d-none d-lg-block w-100"></div>
            <div class="d-md-none w-100"></div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/lift-chair/liftchair.png" class="img-fluid mx-auto mb-3" />
                    <p class="text-center">
                        <span class="text-center">
                            Lift Chairs
                        </span>
                    </p>
                </a>
            </div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/wav/wav.png" class="img-fluid mx-auto mb-3" />
                    <p class="text-center">
                        <span class="text-center">
                            Vehicle Conversions
                        </span>
                    </p>
                </a>
            </div>
            <div class="d-lg-none w-100"></div>
            <div class="d-md-none w-100"></div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/mobility-scooters/ms.png" class="img-fluid mx-auto mb-3" />
                    <p class="text-center">
                        <span class="text-center">
                            Wheelchair Lifts
                        </span>
                    </p>
                </a>
            </div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/mobility-scooters/ms.png" class="img-fluid mx-auto mb-3" />
                    <p class="text-center">
                        <span class="text-center">
                            LULA Elevators
                        </span>
                    </p>
                </a>
            </div>
            <div class="d-md-none w-100"></div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/mobility-scooters/ms.png" class="img-fluid mx-auto mb-3" />
                    <p class="text-center">
                        <span class="text-center">
                            Inclined Platform Lifts
                        </span>
                    </p>
                </a>
            </div>
            <div class="col mb-4">
                <a href="#" class="text-decoration-none">
                    <img src="/images/products/mobility-scooters/ms.png" class="img-fluid mx-auto mb-3" />
                    <p class="text-center">
                        <span class="text-center">
                            Mobility Scooters
                        </span>
                    </p>
                </a>
            </div>
        </div>
    </div>


    <div>

    </div>

    <div class="mb-4">

        <img src="/images/videos/watch-now.png" data-toggle="modal" data-target=".bd-example-modal-lg" class="pointer img-fluid" />

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tuRMwEZfz8Q" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

