@page
@model AmgDotCom_Razer.Pages.product_gridModel
@{
    ViewData["Title"] = "Products";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb">
        <ol class="container breadcrumb bg-white px-0 mb-1">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Stair Lifts</li>
        </ol>
    </nav>

    <a href="https://www.ameriglide.com/landing/financing/"><img src="/images/bread/bread-learn.png" class="img-fluid" /></a>

    <div class="py-4">
        <h4>
            AmeriGlide Stair Lifts
        </h4>
        <div id="collectionLine"></div>
    </div>

    <div class="container">
        <div class="row justify-content-md-center" id="collectionItem">
            <a href="/straight-stairlifts" class="col-md-4 text-decoration-none p-3">
                <img src="/images/products/stair-lifts/straight.jpg" class="img-fluid mb-2" />
                <h4>Straight Stair Lifts</h4>
                <p>Prices starting at $1,399.00</p>
            </a>
            <a href="/straight-stairlifts" class="col-md-4 text-decoration-none p-3">
                <img src="/images/products/stair-lifts/curved.jpg" class="img-fluid mb-2" />
                <h4>Curved Stair Lifts</h4>
                <p>Prices starting at $1,399.00</p>
            </a>
            <a href="/straight-stairlifts" class="col-md-4 text-decoration-none p-3">
                <img src="/images/products/stair-lifts/outdoor.jpg" class="img-fluid mb-2" />
                <h4>Outdoor Stair Lifts</h4>
                <p>Prices starting at $1,399.00</p>
            </a>
        </div>
    </div>

    <div class="container-fluid p-0 my-4">
        <div class="d-flex align-items-center mb-3">
            <h2>
                Buy with confidence at AmeriGlide!
            </h2>
        </div>
        <div>
            <div>
                Quick ship delivery on certain models means you're oprder is ready for delivery or pickup at the store within 48 hours. 
            </div>
            <div>
                Setup & installation on your time from the pros you trust.
            </div>
            <div>
                Price Match Guarantee ensures you will always get the best price on the market.
            </div>
        </div>
        
    </div>

    <div class="container-fluid p-0 my-4">
        <div class="d-flex align-items-center mb-3">
            <h2>
                Shop by Models
            </h2>
        </div>

        <div class="d-flex flex-wrap px-0" id="shopBubble">
            <div class="col-md-3 mb-4">
                <a href="/stairlift-collection" class="text-decoration-none">
                    <img src="/images/products/stair-lifts/rave-model.jpg" class="img-fluid mx-auto mb-3" />
                </a>
            </div>
            <div class="col-md-3 mb-4">
                <a href="/stairlift-collection" class="text-decoration-none">
                    <img src="/images/products/stair-lifts/horizon-model.jpg" class="img-fluid mx-auto mb-3" />
                </a>
            </div>
            <div class="d-md-none w-100"></div>
            <div class="col-md-3 mb-4">
                <a href="/stairlift-collection" class="text-decoration-none">
                    <img src="/images/products/stair-lifts/imperial-model.jpg" class="img-fluid mx-auto mb-3" />
                </a>
            </div>
            <div class="col-md-3 mb-4">
                <a href="/stairlift-collection" class="text-decoration-none">
                    <img src="/images/products/stair-lifts/cplatinum-model.jpg" class="img-fluid mx-auto mb-3" />
                </a>
            </div>

        </div>
    </div>


    <div class="container-fluid p-0 my-4">
        <div class="d-flex align-items-center mb-3">
            <h2>
                Stair Lift guides & resources to shop with confidence
            </h2>
        </div>
        <div>
            <h4>
                Stair Lift Buying Guide
            </h4>
        </div>
    </div>

    <div class="mb-4">

        <img src="/images/videos/watch-now.png" data-toggle="modal" data-target=".bd-example-modal-lg" class="pointer img-fluid" />

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tuRMwEZfz8Q" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

